
// Classic Button

.classic-button {
    padding: 13px 16px 13px 16px;
    border-radius: 25px;
    background: linear-gradient(200.64deg, $color-purple -5.2%, $color-pink 110.74%);
    font-family: "roboto";
    font-weight: 500;
    font-size: 16px;
    color: $btn-txt-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;

    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-purple -5.2%, $color-pink 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
}

// Like button

.like__button {
    background-color: transparent;
    border: none;

    .like__button--heart {
        font-size: 23px;
    }

    .like__button--color {
        display: none;
        font-size: 23px;
        color: $color-purple;
        background: linear-gradient(200.64deg, $color-purple -5.2%, $color-pink 110.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    &:hover,
        .like__button--heart{
            transform: scale(1.15);
        }

    &:focus,
    &:active {
        cursor: pointer;
        
        .like__button--heart{
            display: none;
        }

        .like__button--color {
            display: block;
            transform: scale(1.15);
        }
    }
}
