// Restaurant cards

.restaurant__cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
    }

    @include tablette-only {
        min-width: 385px;
    }

    @include desktop-only {
        min-width: 335px;
    }
}

.restaurant__card {
    width: 100%;
    text-decoration: none;
    color: black;
}

.restaurant__cardImageContainer {
    margin: 0;
    width: 100%;
    height: 173px;
}

.restaurant__cardImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.restaurant__cardDescription {
    display: flex;
    flex-direction: column;
    padding: 16px 33px 13px 13px;
    gap: 5px;
}

.restaurant__cardText {
    font-family: "roboto";
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}

.restaurant__cardIconContainer {
    background-color: transparent;
    border: none;
}

.restaurant__cardIcon {
    font-size: 22px;

    &:hover {
        cursor: pointer;
    }
}

.restaurant__cardLikeButton {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.restaurant__new {
    padding: 7px 9px 7px 9px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    background-color: $new-background-color;
    color: $new-text-color;
    border-radius: 2px;
    position: absolute;
    top: 13px;
    right: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}


