@font-face {
    font-family: "Roboto";
    src: url('../../assets/font/Roboto/roboto-bold.woff2') format('woff2'),
         url('../../assets/font/Roboto/roboto-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../../assets/font/Roboto/roboto-medium.woff2') format('woff2'),
         url('../../assets/font/Roboto/roboto-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../../assets/font/Roboto/roboto-light.woff2') format('woff2'),
         url('../../assets/font/Roboto/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Shrikhand";
    src: url('../../assets/font/Shrikhand/Shrikhand-Regular.woff2') format('woff2'),
         url('../../assets/font/Shrikhand/Shrikhand-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}